<?xml version="1.0" encoding="UTF-8"?>

<!--

 /*************************************************************************
 *  File: AdGydeTracker.js
 *  Description: AdGyde Tracker Javascript File
 *
 *  Copyright (c) 2019 - AdGyde Solutions Private Limited
 *  All Rights Reserved.
 * 
 *  NOTICE:  All information contained herein is, and remains
 *  the property of AdGyde Solutions Private Limited. 
 *  The intellectual and technical concepts contained herein 
 *  are proprietary to AdGyde Solutions Private Limited and 
 *  are considered trade secrets and/or confidential under Law
 *  Dissemination of this information or reproduction of this material,
 *  in whole or in part, is strictly forbidden unless prior written 
 *  permission is obtained from AdGyde Solutions Private Limited.
 *
 */

-->

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="AdGydeCordovaSDK_4.1.11"
    version="4.1.11">

    <name>AdGyde Tracker</name>
    <description>AdGyde Tracker plugin for Cordova</description>
    <license>MIT License - see LICENSE file</license>
    <keywords>AdGyde</keywords>
    <author>AdGyde</author>

    <engines>
        <engine name="cordova" version=">=4.0.0" />
    </engines>

    <js-module src="www/AdGydeTracker.js" name="AdGydeTracker">
        <clobbers target="AdGydeTracker" />
    </js-module>


	<!-- android -->
    <platform name="android">

        <!-- dependencies on external libs -->
        <framework src="src/android/adgyde.gradle" custom="true" type="gradleReference"/>
        <framework src="com.android.installreferrer:installreferrer:1.1.1"/>
		 
  
        <!-- Modifications to be done on the source files of target project -->
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="AdGydeTrackerPlugin">
				<param name="android-package" value="com.adgyde.sdk.AdGydeTrackerPlugin" />			
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml">			
            <uses-permission android:name="android.permission.INTERNET" />                        
		</config-file>
		
		
        <!-- Android plugin files and adgyde sdk -->
		<source-file src="src/android/libs/adgyde-android-sdk-4.1.11.jar" target-dir="libs" />        
		<source-file src="src/android/AdGydeTrackerPlugin.java" target-dir="src/com/adgyde/sdk" />
	</platform>
    <!-- ios -->   
</plugin>
